.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

button {
    border-radius: .25rem;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    border-radius: .25rem;
}

.btn-primary {
    color: #fff;
    background-color: #888888;
    border-color: #888888;
    border-radius: .25rem;
}

.btn {
    font-family: "Kanit";
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.text-white{
    font-family: "Kanit";
    color: white;
}

.form-control {
    font-family: "Kanit";
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}